#Папки
.idea/
.gradle/
build/
out/
classes/
log/
logs/
catalina*/
target/
tmp/
ext*/
ext/
node_modules/
.DS_Store
dist

#Расширения
*.log
*.retry

#JAVA
#*.iml
#*.ipr
#*.iws

#latex
*.toc
*.out
*.synctex.gz
*.aux
*.lol
*.idx

#Темп файлы
*.*~
~*
*~
*~*
test*.json

#Исключения
!.gitignore
!.sencha/
#!.idea/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
